body { margin: 0 ; cursor: none ; line-height: 1.5 ; width: 90vw ; overflow-x: hidden }
p { font-weight: bold ; padding: 10px ; font-family: consolas ; font-size: 17px }
.block { font-weight: bold ; font-family: Calibri ; background-color: rgba(100, 100, 100,0.25) ; padding: 15px ; border-radius: 15px ; font-size: 12px ; display: inline-block }

.navigation {
    display: flex;
    width: 100vw;
    height: 50px;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #5a5a5a }

.navigation a {
    font-weight: bold;
    letter-spacing: 2px;
    padding: 0px 50px;
    transition: all 500ms ease;
    color: #f7f7f7;
    text-decoration: none }

a:hover { color: gold ; text-decoration-line: underline ; text-underline-offset: 15px }

.bubble { width: 100vw ; display: flex ; align-items: center ; transition: all 500ms ease ; padding: 10px 20px }

.small:hover, .medium:hover, .big:hover, .giant:hover { -webkit-text-stroke: 0.2px rgba(255, 255, 255, 0.75) ; background-color: black ; letter-spacing: 2px }

.giant { height: 1200px }

.big { height: 900px }

.medium { height: 500px }

.small { height: 300px }

.chapter { height: 50px ; background-color: white ; letter-spacing: 4px ; font-family: Impact ; display: flex ; justify-content: center ; align-items: center }

.title { font-size: 30px ; font-family: Impact ; letter-spacing: 2px }

/* List of background colors */

.grey { background-color: #5a5a5a90 }

.green { background-color: rgba(0, 128, 0, 0.5) }

.blue { background-color: rgba(62, 62, 255, 0.5) }

.pink { background-color: rgba(255, 192, 203, 0.5) }

.red { background-color: rgba(255, 0, 0, 0.501) }

.orange { background-color: peachpuff }

.yellow { background-color: rgba(255, 255, 0, 0.5) }

.purple { background-color: rgba(128, 0, 128, 0.5) }

.teal { background-color: rgba(0, 128, 128, 0.5) }

.brown { background-color: rgba(128, 82, 27, 0.5) }

.highlight-blue { color: blue }

.highlight-purple { color: purple }

.highlight-red { color: rgb(167, 0, 0) }

.highlight-orange { color: rgb(137, 89, 0) }

.highlight-note { color: rgba(100, 100, 100,0.7) }

.highlight-green { color: green }

.highlight-yellow { color: rgb(147, 147, 0) }

span { text-underline-offset: 2px }